<!DOCTYPE html>
<html>
    <head>
        <title>@ViewBag.Title</title>
        <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
        <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    </head>
    <body>
        <div id="main">
            <div id="header">
            </div>
            <div id="wrapper">
                <div id="leftColumn">
                    <div id="navcontainer1">
                        <ul id="navlist1">
                            @foreach (var b in FootStat.WebUI.Models.LayoutHelper.tourneys()) {
                                <li><img src="@b.CountryFlag" class="countryFlagMenu" alt="@b.ShortNameRu"/>@Html.ActionLink(b.ShortNameRu,"Tourney", new { id = b.Id })</li>
                            }
                        </ul>
                    </div>
                </div>
                <div id="centerColumn">
                    @RenderBody()
                </div>
            </div>
        </div>
    </body>
</html>

