@model FootStat.WebUI.Models.TourneyViewModel

@{
    ViewBag.Title = Model.tourney.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
  
<div id="featured">
    <img src="@Model.tourney.LogoUrl" class="logoLigue" alt="@Model.tourney.Name"/> <h4>@Model.tourney.Name</h4>
</div> 
<div id="latest">
    <section class="left-col">
        <h2>Сегодня:</h2>
        <table class="tableMatches">
            <tr>
                <td >Вест Бромвич Альбион</td>
                <td style="white-space: nowrap">1 - 4</td>
                <td>Ливерпуль</td>
                <td>View</td>
            </tr>
            <tr>
                <td >"Кристал Пэлас"</td>
                <td style="white-space: nowrap">1 - 2</td>
                <td>"Манчестер Сити"</td>
                <td>View</td>
            </tr>
        </table>
        <br/>
        <h2> Ближайшие матчи:</h2>
        <table class="tableMatches">
            @foreach (var p in Model.nearestMatches)
            {
                <tr>
                    <td>
                        @p.Date.ToShortDateString()
                    </td>
                    <td>
                        @p.Command.ShortNameRu
                    </td>
                    <td style="white-space: nowrap">
                        @p.ScoreFirstCommandId - @p.ScoreSecondCommandId
                    </td>
                    <td>
                        @p.Command1.ShortNameRu
                    </td>
                    <td>@Html.ActionLink("View","MatchDetails", new {id=p.Id})</td>
                </tr>
            }
        </table>
    </section>
    <aside class="sidebar">
        <div class="LigueDiv">
            <br/>
            <table class="tourneyTable">
                @if (Model.tournamentTable.Any()) {
                    var i = 1;
                    foreach (var p in Model.tournamentTable) {
                        <tr class="tr-@i-@p.TourneyId">
                            <td>@i</td>
                            <td>@p.Command.ShortNameRu</td>
                            <td>@p.Games</td>
                            <td>@p.Points</td>
                        </tr>
                        i++;
                    }
                }
            </table>
        </div>
    </aside>
</div>
<div class="clearfix"></div>
